<div class="banner" *ngIf="isClientError">
  <div class="banner-content">
    {{ reason }} {{ code }}
    <div *ngIf="code === 401">
      <p>Possible reasons for this error:</p>
      <ul>
        <li>The access token was not provided or is invalid. Ensure that your application correctly retrieves and supplies a valid access token.</li>
        <li>There is an issue with your token retrieval mechanism. Verify that the fetch token callback function is implemented correctly and successfully obtains a new token when needed.</li>
      </ul>
    </div>
  </div>
</div>



<app-sidebar *ngIf="!isClientError" [session]="session" [currentUser]="currentUser" [isOnline]="isOnline"></app-sidebar>